@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-black: rgba(17, 25, 40, 0.3);
  --medium-black: rgba(17, 25, 40, 0.6);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url('/public/images/bg.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

/*Chat*/
.center {
  .message {
    @apply flex gap-5;
    &.own {
      @apply self-end;
      .texts {
        p {
          @apply bg-blue-400;
        }
      }
    }
    img {
      @apply w-8 h-8 rounded-full object-cover;
    }
    .texts {
      @apply flex flex-1 flex-col gap-1;
      img {
        @apply w-full h-80 rounded-lg object-cover;
      }
      p {
        @apply p-5 bg-[var(--light-black)] rounded-lg;
      }
    }
    span {
      @apply text-sm;
    }
  }
}

/*Details*/
.info {
  .title {
    @apply flex items-center justify-between;
    .arrowIcons {
      @apply w-8 bg-[var(--light-black)] p-2 rounded-full cursor-pointer;
    }
  }
  .photoItem {
    @apply flex items-center justify-between;
    .photoDetail {
      @apply flex items-center gap-5;
      img {
        @apply w-10 h-10 rounded object-cover;
      }
      span {
        @apply text-sm text-gray-500 font-light;
      }
    }
    .downIcon {
      @apply w-9 h-9 bg-[var(--light-black)] p-3 rounded-full cursor-pointer;
    }
  }
}

/*Login Form*/

.login {
  button {
    &:disabled {
      cursor: not-allowed;
      background-color: #1f8ff167;
    }
  }
  .item {
    @apply flex-1 flex flex-col items-center gap-5;
    form {
      @apply flex flex-col items-center justify-center gap-5;
      input {
        @apply p-5 bg-[var(--medium-black)] rounded-md;
      }
    }
  }
}
