@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --light-black: rgba(17, 25, 40, 0.3);
  --medium-black: rgba(17, 25, 40, 0.6);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #edeff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

/*Chat*/
.center {
  .message {
    @apply flex gap-5;
    &.own {
      @apply self-end;
      .texts {
        img {
          @apply rounded-bl-2xl rounded-br-none;
        }
        p {
          @apply bg-[#48A6C3] text-[#0A0E0F] rounded-tr-none rounded-tl-2xl self-end;
        }
      }
      span {
        @apply self-end;
      }
    }
    img {
      @apply w-8 h-8 rounded-full object-cover;
    }
    .texts {
      @apply flex flex-1 flex-col;
      img {
        @apply w-full h-80 rounded-2xl rounded-bl-none object-cover;
      }
      p {
        @apply max-w-fit px-5 py-2 bg-bordergray rounded-2xl rounded-tl-none text-white;
      }
    }
  }
}

/*Details*/
.info {
  .title {
    @apply flex items-center justify-between;
    .arrowIcons {
      @apply w-8 bg-[var(--light-black)] p-2 rounded-full cursor-pointer;
    }
  }
  .photoItem {
    @apply flex items-center justify-between;
    .photoDetail {
      img {
        @apply rounded-2xl object-cover;
      }
      span {
        @apply text-sm text-gray-500 font-light;
      }
    }
    .downIcon {
      @apply w-9 h-9 bg-[var(--light-black)] p-3 rounded-full cursor-pointer;
    }
  }
}

/*Login Form*/

.login {
  button {
    &:disabled {
      cursor: not-allowed;
      background-color: #3a8399;
    }
  }
  .item {
    @apply flex-1 flex flex-col items-center gap-5;
    form {
      @apply flex flex-col items-center justify-center gap-5;
      input {
        @apply bg-darkgray p-3 rounded-2xl outline-none placeholder-lightgray;
      }
    }
  }
}
